body{
    background-color: yellow;
}
.container{
    display: flex;
    height: 900px;
    width: 1200px;
    padding: 20px 20px;
    margin: 0 auto;
    margin-top: 100px;
}
.left-side{
    width: 50%;
}
.right-side{
    width: 50%;
 
}
.content{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.right-side h3{
    width: 100%;
}
.sauces label input{
    margin-right: 5px;
}
.cheese label input{
    margin-right: 5px;
}
.choose{
    margin-top: 50px;
}

.toppings label input{
    margin-right: 5px;
}
.pan{
    background-image: url(resources/pan.png);
    width: 500px;
    height: 500px;
    background-size: cover;
}
.pan img{
    position: absolute;
}
.topping, .cheese, .sauce{
    opacity: 0;
}
.opacity{
    opacity: 1;
}


@media only screen and (max-width: 450px) {
    body {
        .container{
            display: inline-block;
        }
        .content{
            display: flex;
            flex-direction: column;
        }
        .pan{
            width: 150px;
            height: 150px;
            background-size: cover;
        }
        .topping, .cheese, .sauce{
            width: 150px;
            opacity: 0;
        }
        .right-side{
            width: 25%;
        }
        .left-side{
            position: fixed;
            top: 100px;
        }
        input[type='radio'], input[type='checkbox']{
            margin-right: 15px;
        }
        label{
            font-size: 20px;
        }
    }
  }
  